* {
  /* border: 1px dotted; */
  margin: 0px;
}

/* ---------------------MENU------------------ */
header {
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
header a {
  color: black;
  text-decoration: none;
}

nav a {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

#brand {
  border-left: 2px solid black;
  border-right: 2px solid black;
}


/* ------------------GRID--------------------- */

main {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding-bottom: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.productgrid {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "leftside rightside"
    "leftside rightbottom";
}


#productimage {
  grid-area: leftside;
  
}

#productimage img {
  box-shadow: 2px 2px 5px #d5d5d5;
 width: 100%;
}



#buysection {
  grid-area: rightside;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 55px;
  padding-bottom: 55px;
}

#productinfo {
  grid-area: rightbottom;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d5d5d5;
  padding: 40px;
  
}

/* ------------------Bread crumbs--------------------- */
ol {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-left: -43px;
}

ol img {
  margin-top: 3px;
}

ol li {
  list-style-type: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.greycrumb {
  color: #d5d5d5;
}

/* ------------------BUY SECTION--------------------- */

#smallinfoundername {
  display: flex;
}

#buysection p {
  font-size: 17px;
}

form {
  margin-top: 40px;
  text-align: center;
}
label {
  font-weight: bold;
}

select {
  border-radius: 25px;
  margin-left: 10px;
  background-color: black;
  border: none;
  color: white;
  width: 80px;
  padding: 7px 17px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  outline: 0px;
  background: url(../assets/selectarrow.svg) no-repeat right black;
  -webkit-appearance: none;
  background-position-x: 50px;
}
button {
  border-radius: 25px;
  margin-top: 10px;
  background-color: black;
  border: none;
  color: white;
  width: 200px;
  padding: 13px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* ------------------PRODUCT IMAGE--------------------- */
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
dt {
  font-weight: bold;
}

dd {
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: #d5d5d5;
}








/* ------------------------------MOBILE---------------------------------- */

@media only screen and (max-width: 1100px) {



header {
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header img {
  height: 40px;
}

  ol {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: -43px;
  }
  
  ol img {
    margin-top: 2px;
  }
  
  ol li {
    list-style-type: none;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }
  

  .productgrid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;
    grid-template-areas:
      "top"
      "middle"
      "bottom";
  }
  
  
  #productimage {
    grid-area: top;
    
  }
  

  
  #buysection {
    grid-area: middle;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  #productinfo {
    grid-area: bottom;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5d5d5;
    padding: 40px;
    
  }


}